:root {
    --paleGreen: #C0D8C0;
    --offWhite: #F5EEDC;
    --red: #DD4A48;
    --cream: #EcB390;
}
* {
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    background-color: var(--offWhite);
    font-family: 'Quicksand', sans-serif;
}


header {
    position: fixed;
    width: 100%;
    background-color: var(--paleGreen);
    height: 100px;
    text-align: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    z-index: 10;

}

header h1 {
    margin: auto;
    font-size: 4rem;
    font-weight: 400;

}

main {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 130px 30px 30px 30px;

}

.albumBox {
    border: solid rgba(221, 74, 72, 0.9) 4px ;
    border-radius: 15px;
    margin: 20px 20px;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 15px 25px;
    transition: 0.2s;
    height: 500px;
    width: 300px;
    justify-content: space-between;
    overflow: scroll;
    background-color: var(--offWhite);
}

.albumBox img {
    border-radius: 15px;
}

.albumBox:hover {
    box-shadow: rgba(0, 0, 0, 0.9) 0px 15px 35px;
    transition: 0.2s;
    transform: scale(1.02);
}

.albumBox h2 {
    font-size: 3rem;
    font-weight: 400;
}

.albumBox h3 {
    font-size: 2rem;
    font-weight: 100;
}

.albumBox p {
    font-size: 1.5rem;
}